absl-py
astunparse
blobfile
cachetools
certifi
charset-normalizer
contourpy
cycler
docker-pycreds
einops
filelock
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
importlib-metadata
joblib
keras
kiwisolver
libclang
lxml
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pycryptodomex
pyparsing
python-dateutil
pytz
requests-oauthlib
rsa
scikit-learn
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit

termcolor
threadpoolctl
torch
torchvision
tqdm
Werkzeug
wrapt
zipp
